
:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

body { 
    background-color: black;
    color: #A8A8B3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 0;
}

ul {
    padding-inline-start: 0px;
}

nav {
    display: flex;
    justify-content: center;
    transform: translateX(2vw);
}

nav > div { 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: opacity 2s;
    animation-fill-mode: forwards;
    position: relative;
    gap: 10vw;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-weight: 400;
}

nav ul li {
    padding: 10px;
    width: max-content;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

nav ul li:hover {
    cursor: pointer;
    color: #8257E5;
    border-bottom: 2px solid #8257E5;
}

.background-box {
    position: absolute;
    border-radius: 200px;
    width: 150px;
    height: 150px;
    /*background-color: rgb(130, 87, 229);*/
    filter: blur(120px);
    box-shadow: 0 0 0 100px rgb(130, 87, 229);
    z-index: -1;
}

.logo {
    object-fit: contain;
    width: 44px;
    height: 50px;
    /* position: absolute;
    left: 15%; */
}

.get-coffe {
    padding: 0px 40px;
    border: 1px solid #8257E5;
    background-color: transparent;
    border-radius: 15px;
    color: white;
    height: 40px;
    width: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-wrap: nowrap;
    /* position: absolute;
    right: 10%; */
}

.get-coffe:hover {
    background-color: #8257E5;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    animation: display 2.1s;
}

h1 {
    font-size: 52px; 
    color: white;
    margin: 0;
    max-width: 800px;
    text-align: center;
}

.stroke {
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color: black;
}

.buguer {
    display: none;
}

.mobile-container {
    display: none;
}

.b1 {
    right: 0;
    top: 0;
}

.b2 {
    bottom: 0; 
    left: 0;
}























@media only screen and (max-width: 900px) {


    .b1 { display: none; }

    .gc1 { display: none; }

    body {
        display: block;
        overflow-x: hidden;
        overflow-y: visible;
    }

    ul {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .logo {
        background-image: url("assets/logo-mobile.svg");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 20px;
        width: 171px;
        height: 33px;
        position: static;
    }

    nav > div {
        background-color: #000;
        flex-direction: column;
        align-items: flex-start;
        gap: 2vh;
        width: 100%;
        position: sticky;
        top: 0px;
        padding: 0px 15px ;
        border-bottom: 1px solid #A8A8B3;
        animation: none;
        z-index: 9999;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        width: 100%;
        height: 90vh;
        display: none;
    }

    nav ul li {
        border-bottom: 1px solid #A8A8B3;
        width: 100%;
    }

    nav ul li:hover {
        cursor: default;
        color: #A8A8B3;
        border-bottom: 1px solid #A8A8B3;
    }

    nav img {
        cursor: pointer;
    }

    .selected {
        border-left: 4px solid #8257E5;
        color: white;
        font-weight: 500;
    }

    .visible {
        display: block;
    }

    .buguer {
        display: block;
        padding: 15px;
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .mobile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25vh;
        padding: 100px;
    }

}





@media only screen and (max-width: 685px) {
    h1 {font-size: 45px;}
}

@media only screen and (max-width: 620px) {
    h1 {font-size: 32px;}
    .mobile-container { gap: 15vh; }
}

@keyframes opacity {
    from {opacity: 35%;}
    to {opacity: 100%;}
}

@keyframes display {
    from {
        transform: translateY(5%);
        opacity: 0%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}